*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* login page css */

.login-page{
    position: relative;
}

.login-div{
    margin: 0px;
    height: 100vh;
}

.logo-heading{
    font-size: 20px;
    font-style: italic;
    letter-spacing: 3px;
    margin-bottom: 75px;
}

.login-page-img{
    width: inherit;
    height: 100vh;
}

.login-form{
    width: 60%;
}

.login-div .col-6{
    padding: 0px;
}

.form-desp{
    font-size: 18px;
}

.login-form label{
    font-size: 12px;
    color: #4e738a;
    margin-left: 7px;
}

.login-form .form-group{
    position: relative;
}

.login-form .form-group input{
    padding-left: 30px;
    padding-right: 30px;
}

.username-icon{
    width: 16px;
    position: absolute;
    bottom: 12px;
    left: 7px;
}

.password-icon{
    width: 16px;
    position: absolute;
    bottom:10px;
    left: 7px;
}

.eye-icon{
    width: 16px;
    position: absolute;
    bottom: 12px;
    right: 7px;
}

.login-page ::placeholder{
    font-size: 14px;
}

.admin-span{
    color: #1153c1;
}

.login-form button[type="submit"]{
    width: 150px;
}