*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

button:focus{
    outline: none;
}

/* login page css */

.login-page{
    position: relative;
}

.login-div{
    margin: 0px;
    height: 100vh;
}

.logo-heading{
    font-size: 20px;
    font-style: italic;
    letter-spacing: 3px;
    margin-bottom: 90px;
}

.login-page-img{
    width: inherit;
    height: 100vh;
}

.login-form{
    width: 60%;
}

.login-div .col-6{
    padding: 0px;
}

.form-desp{
    font-size: 28px;
    color: #083255;
    margin-bottom: 30px;
}

.login-form label{
    font-size: 12px;
    color: #4e738a;
    margin-left: 7px;
}

.login-form .form-group{
    position: relative;
}

.login-form .form-group input{
    padding-left: 45px;
    padding-right: 30px;
    color: #083255;
}

.username-icon{
    width: 16px;
    position: absolute;
    bottom: 12px;
    left: 12px;
}

.password-icon{
    width: 16px;
    position: absolute;
    bottom:10px;
    left: 12px;
}

.password-icon path{
    fill: #DFE2E6;
}

.login-form input[type="password"]:focus + .password-icon path{
    fill: #083255;
}

.username-icon path{
    fill: #DFE2E6;
}

.login-form #username:focus + .username-icon path{
    fill: #083255;
}

.eye-icon{
    width: 16px;
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.eye-icon-change path{
    fill: #083255;
}

.login-page ::placeholder{
    font-size: 14px;
    color: #C6C6C6;
}

.admin-span{
    color: #1153c1;
}

.login-form button[type="submit"]{
    width: 150px;
    background: #1153C1;
    font-size: 12px;
    padding: 10px;
    margin-top: 25px;
}

.login-page-img-div{
    position: relative;
    background-image: url('../images/login-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-page-img-div:after{
  content: '';
  border-bottom: 54vh solid #1153C1;
  border-right: 50vw solid transparent;
  width: 0;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.login-page-img-div span{
    position: absolute;
    color: #fff;
    font-weight: bolder;
    font-size: 2.60vw;
    bottom: 5.96vh;
    left: 3.66vw;
    z-index: 1;
    width: 21vw;
}


/* dashboard css */

.side-bar{
    display: block;
    background: #083255;
    border: 0px;
    padding-top: 30px;
    height: calc(100vh - 103px);
}

.side-bar .nav-link{
    color: #4E738A;
    border-radius: 0px;
    border: 0px;
    font-size: 12px;
    padding: 20px 30px;
    padding-right: 0px;
}

.side-bar .nav-item .active{
    color: #fff;
    background: #1153c1;
}

.side-bar .nav-item .active .user-management-icon path, 
.side-bar .nav-item .active .company-icon path, 
.side-bar .nav-item .active .report-icon rect{
    fill: #fff;
}

.header-div .dashboard-logo-heading{
    background: #083255;
    font-size: 18px;
    margin: 0px;
    padding: 15px 0px;
    text-align: center;
}

.header-div .dashboard-logo-heading .logo-image path{
    fill: #fff;
}

.logo-image{
    width: 50%;
}

.profile-div{
    background: #f7fbff;
    padding-right: 40px !important;
    position: relative;
}

.profile-action-menu{
    position: absolute;
    width: 160px;
    right: 32px;
    top: 50px;
    border-radius: 10px;
    z-index: 1;
    background: #fff;
}

.profile-action-menu ul{
    position: relative;
    list-style-type: none;
    border-radius: 10px;
    color: #1153c1;
    font-size: 12px;
    margin: 0px;
}

.profile-action-menu ul li{
    text-align: center;
    padding: 10px 0px;
}

.profile-action-menu ul li:first-child{
    border-bottom: 1px solid #C6C6C6;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.profile-action-menu ul li:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.profile-action-menu ul li:hover{
    cursor: pointer;
}

.triangle-tip{
    width: 10px;
    border-top: solid 5px transparent;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    border-bottom: solid 7px #fff;
    position: absolute;
    top: -10px;
    right: 18px;
}

.profile-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile-img:hover{
    cursor: pointer;
}

.no-user-container{
    height: calc(100vh - 103px);
}

.no-user-div{
    text-align: center;
}

.user-management-icon,.company-icon,.report-icon{
    margin-right: 20px;
}

.no-user-div h2{
    font-size: 2.05vw;
    color: #003057;
    margin: 0px;
}

.add-user-btn{
    width: 160px;
    margin: 0 auto;
    display: block;
    border: none;
    background: #1153c1;
    color: #fff;
    padding: 15px 33px;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
}

.no-data-image{
    width: 28vw;
    margin-top: 20px;
}

.add-user-btn:focus{
    outline: none;
}

.description-para{
    font-size: 1.02vw;
    color: #b6b6b6;
}

#myAddUserModal .firstName , #myAddUserModal .lastName{
    flex-basis: 47%;
}

.modal-content{
    border: 0px;
}

#myAddUserModal .modal-body,
#myAddReportModal .modal-body,
#myAddCompanyModal .modal-body{
    padding: 20px 25px;
    padding-bottom: 25px;
}

.dropdown-div{
    width: 100%;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    border: 2px solid #f2f4f6;
    margin-bottom: 20px;
    font-size: 12px;
    color: #c2cdd6;
    margin-bottom: 20px;
}

.dropdown-div ul{
    list-style-type: none;
    position: absolute;
    width: inherit;
    top: 42px;
    left: 0px;
    background: #fff;
    border: 2px solid #f2f4f6;
    border-radius: 4px;
    z-index: 1;
}

.dropdown-div ul li{
    padding: 10px;
}

.dropdown-div ul li:hover{
    background: #89a0b3;
    color: #fff;
}

.dropdown-div ul li:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.dropdown-div ul li:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dropdown-icon{
    position: absolute;
    top: 18px;
    right: 14px;
    color: #89a0b3;
    transition: all 0.5s ease-in;
}

.rotate{
    transform: rotate(180deg);
}

.display-none{
    display: none !important;
}

#myAddUserModal .modal-body input{
    border: 2px solid #f2f4f6;
    border-radius: 4px;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 20px;
    color: #89a0b3;
    font-weight: bold;
}

#myAddUserModal .modal-body input:focus, #myAddCompanyModal .modal-body input:focus,
#myAddReportModal .modal-body input:focus{
    border-color: #8199ad;
    outline: none;
}

#myAddUserModal .modal-dialog, #myAddCompanyModal .modal-dialog,
#myAddReportModal .modal-dialog{
    width: 405px;
    max-width: 100%;
}

#myAddUserModal .modal-title, #myAddCompanyModal .modal-title,
#myAddReportModal .modal-title{
    color: #083255;
    padding-left: 20px;
    position: relative;
}

#myAddUserModal .modal-header, #myAddCompanyModal .modal-header,
#myAddReportModal .modal-header{
    padding-left: 0px;
    border: 0px;
    padding-top: 32px;
    position: relative;
}

.modal-header .cross{
    position: absolute;
    top: 15px;
    right: 25px;
}

.modal-header .cross:hover{
    cursor: pointer;
}

#myAddCompanyModal input, #myAddReportModal input{
    width: 100%;
    border: 2px solid #f2f4f6;
    border-radius: 4px;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 20px;
    color: #89a0b3;
    font-weight: bold;
}

#myAddCompanyModal.show, #myAddUserModal.show, #myAddReportModal.show{
    display: flex !important;
}

#myAddCompanyModal input::placeholder,
#myAddUserModal input::placeholder,
#myAddReportModal input::placeholder{
    color: #c2cdd6;
}

#myAddReportModal ul{
    list-style-type: none;
}

#myAddReportModal .iFrame-ul .iFrame-dimension{
    padding: 10px;
    font-size: 12px;
    color: #a5b5c2;
    border: 2px solid #eaeef1;
    border-radius: 4px;
}

.iFrame-dimension{
    background: #eaeef1;
    flex-basis: 36%;
    text-align: center;
}

.iFrame-height{
    border: 0px;
    flex-basis: 27%;
    position: relative;
}

.iFrame-height input, .iFrame-width input{
    margin: 0px !important;
    padding-right: 25px !important;
}

.iFrame-height input:focus, .iFrame-width input:focus{
    border-color: #f2f4f6 !important;
}

.iFrame-width{
    border: 0px;
    flex-basis: 27%;
    position: relative;
}

.iFrame-height span, .iFrame-width span{
    position: absolute;
    width: 25px;
    height: 20px;
    text-align: center;
    background: #e6ebee;
}

.iFrame-height .increase, .iFrame-width .increase{
    top: 0px;
    right: 0px;
    border-top-right-radius: 4px;
    font-size: 8px;
}

.iFrame-height .decrease, .iFrame-width .decrease{
    bottom: 0px;
    right: 0px;
    border-bottom-right-radius: 4px;
    font-size: 8px;
}

.increase:hover, .decrease:hover{
    cursor: pointer;
}

.number,.email , .password{
    width: 100%;
}

.password{
    color: #083255 !important;
    margin-bottom: 10px !important;
}

.password-field{
    position: relative;
}

.password-field .eye-icon{
    bottom: 25px;
    right: 10px;
}

.bar{
    width: 5px;
    height: -webkit-fill-available;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background: #1153C1;
}

.update-btn{
    background: #1153c1;
    color: #fff;
    text-align: center;
    padding: 15px 0px;
    width: 100%;
    border: none;
    border-radius: 4px;
    font-size: 12px;
}

.update-btn:focus{
    outline: none;
}



.search-div{
    position: relative;
    width: 70%;
}

.search-div input{
    width: 100%;
    padding: 10px 0px;
    padding-left: 50px;
    border: 2px solid #e6edf1;
    border-radius: 4px;
    color: #083255;
}

.search-div input:focus{
    outline: none;
}

.search-div ::placeholder{
    font-size: 14px;
    color: #b4c1cc;
}

.search-div svg{
    position: absolute;
    top: 15px;
    left: 10px;
}

.search-div button{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 15px 40px;
    font-size: 12px;
    background: #083255;
    border: none;
    color: #9cadbb;
    font-weight: bold;
    border-radius: 4px;
}

.add-user-btn-2, .add-company-btn-2, .add-report-btn-2{
    width: 165px;
    border: none;
    background: #1153c1;
    color: #fff;
    padding: 15px 30px;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    margin-left: 25px;
}

.add-company-btn-2{
    padding: 15px 25px;
}

.add-user-btn-2{
    padding: 15px 35px;
}

.table-head{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 20px;
}

.table-body{
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 20px;
}

.table-head h2{
    margin: 0px;
    position: relative;
}

.table-head h2 strong{
    font-size: 18px;
    position: absolute;
    bottom: 0px;
    color: #083255;
}

.table-body .table thead th{
    font-size: 12px;
    color: #fff;
    border-bottom: 0px;
}

.table-body tbody{
    display: block;
    height: calc(100vh - 314px);
}

.table-body tbody::-webkit-scrollbar{
    display: none;
}

.table-body .firstName{
    width: 25%;
    padding-left: 30px;
}

.table-body .lastName{
    width: 25%;
}

.table-body .company{
    width: 20%;
}

.table-body .createdOn{
    width: 20%;
}

.table-body .action{
    width: 10%;
}

.table-body .pageTitle{
    width: 30%;
    padding-left: 30px;
}

.table-body .company-report{
    width: 30%;
}

.table-body .createdOn-report{
    width: 30%;
}

.table-body .companyName{
    width: 45%;
    padding-left: 30px;
}

.table-body .createdOn-company{
    width: 45%;
}

.delete-icon{
    margin-right: 10px;
}

.table-body thead{
    background: #7badd3;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table-body td{
    font-size: 12px;
    color: #083255;
    font-weight: bold;
    border: none;
}

.table-body tbody tr{
    border: none;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table-body tbody tr:nth-child(even){
    background: #f4f7f9;
}

.pagination-div{
    padding-left: 20px;
    padding-right: 40px;
    margin-bottom: 20px;
}

.count-span{
    color: #fff;
    background: #1153c1;
    font-size: 12px;
    padding: 2px;
    border-radius: 4px;
}

.total-pages-span{
    font-size: 12px;
    color: #ccd3dd;
    margin-left: 5px;
}

.page-control-button button{
    font-size: 12px;
    border: none;
    background: transparent;
    color: #1153C1;
}

.previous-page{
    margin-right: 5px;
}

.next-page{
    margin-left: 5px;
}

.previous-page:disabled,.next-page:disabled{
    color: #ccd3dd;
}

.next-page:focus,.previous-page:focus{
    outline: none;
}


/* footer css */

.footer-div .dashboard-logo-heading{
    background: #eff8ff;
    font-size: 18px;
    margin: 0px;
    padding: 15px 0px;
    text-align: center;
}

.footer-div-list{
    background: #eff8ff;
    color: #083255;
    list-style-type: none;
    padding: 15px;
    padding-right: 30px !important;
    margin: 0px;
    justify-content: flex-end;
}

.footer-div-list li{
    padding: 0px 10px;
    border-right: 1px solid #083255;
    font-weight: bold;
    font-size: 12px;
}

.footer-div-list li:last-child{
    border-right: none;
}

/* customize checkbox */

.label-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #cbd4dc;
}

/* Hide the browser's default checkbox */
.label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.label-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 2px solid #e6eaee;
    border-radius: 4px;
}

/* When the checkbox is checked, add a blue background */
.label-container input:checked ~ .checkmark {
    background-color: #1153c1;
    border: 2px solid #1153c1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.label-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.desktop-view-value .label-container .checkmark{
    top: -4px;
}

/* Show the checkmark when checked */
.label-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.label-container .checkmark:after {
    left: 3px;
    top: 0px;
    width: 8px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* Create a custom radio button */

.radio-label {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 12px;
    color: #a5b5c2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default radio button */
.radio-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.radio-label .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border: 1px solid #b8c3cc;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-label:hover input ~ .checkmark {
    background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-label .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-label .checkmark:after {
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #083255;
}

.dropdown-2 .label-container{
    margin-bottom: 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}



