*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* login page css */

.login-page{
    position: relative;
}

.login-div{
    margin: 0px;
    height: 100vh;
}

.logo-heading{
    font-size: 20px;
    font-style: italic;
    letter-spacing: 3px;
    margin-bottom: 75px;
}

.login-page-img{
    width: inherit;
    height: 100vh;
}

.login-form{
    width: 60%;
}

.login-div .col-6{
    padding: 0px;
}

.form-desp{
    font-size: 18px;
}

.login-form label{
    font-size: 12px;
    color: #4e738a;
    margin-left: 7px;
}

.login-form .form-group{
    position: relative;
}

.login-form .form-group input{
    padding-left: 30px;
    padding-right: 30px;
}

.username-icon{
    width: 16px;
    position: absolute;
    bottom: 12px;
    left: 7px;
}

.password-icon{
    width: 16px;
    position: absolute;
    bottom:10px;
    left: 7px;
}

.password-icon path{
    fill: #000 !important;
}

.eye-icon{
    width: 16px;
    position: absolute;
    bottom: 12px;
    right: 7px;
}

.login-page ::placeholder{
    font-size: 14px;
}

.admin-span{
    color: #1153c1;
}

.login-form button[type="submit"]{
    width: 150px;
}

/* dashboard css */

.side-bar{
    display: block;
    background: #083255;
    border: 0px;
    height: 100vh;
}

.side-bar .nav-link{
    color: #4E738A;
    border-radius: 0px;
    border: 0px;
    font-size: 12px;
}

.side-bar .nav-item .active{
    color: #fff;
    background: #1153c1;
}

.header-div .dashboard-logo-heading{
    background: #083255;
    color: #fff;
    font-size: 18px;
    font-style: italic;
    margin: 0px;
    padding: 10px 0px;
}

.profile-div{
    background: #f7fbff;
    position: relative;
}

.profile-img{
    position: absolute;
    top: 10px;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.no-user-div{
    text-align: center;
    margin-top: 100px;
}

.no-user-div h2{
    font-size: 28px;
    color: #003057;
}

.add-user-btn{
    width: 30%;
    margin: 0 auto;
    display: block;
    border: none;
    background: #1153c1;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 4px;
}

.no-data-image{
    width: 50%;
    margin-top: 20px;
}

.add-user-btn:focus{
    outline: none;
}

.description-para{
    font-size: 14px;
    color: #b6b6b6;
}

.firstName , .lastName{
    flex-basis: 45%;
}

#myAddUserModal .modal-body{
    padding: 20px;
}

.dropdown-div{
    width: 100%;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    border: 2px solid #f2f4f6;
    margin-bottom: 20px;
    font-size: 12px;
    color: #89a0b3;
    margin-bottom: 20px;
}

.dropdown-div ul{
    list-style-type: none;
    position: absolute;
    width: inherit;
    top: 42px;
    left: 0px;
    background: #fff;
    border: 2px solid #f2f4f6;
    border-radius: 4px;
    z-index: 1;
}

.dropdown-div ul li{
    padding: 10px;
}

.dropdown-div ul li:hover{
    background: #89a0b3;
    color: #fff;
}

.dropdown-div ul li:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.dropdown-div ul li:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dropdown-icon{
    position: absolute;
    top: 14px;
    right: 14px;
    color: #89a0b3;
    transition: all 0.5s ease-in;
}

.rotate{
    transform: rotate(180deg);
}

.display-none{
    display: none !important;
}

#myAddUserModal .modal-body input{
    border: 2px solid #f2f4f6;
    border-radius: 4px;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 20px;
    color: #89a0b3;
    font-weight: bold;
}

#myAddUserModal .modal-body input:focus{
    border-color: #8199ad;
    outline: none;
}

#myAddUserModal .modal-dialog{
    width: 30%;
    max-width: 100%;
}

#myAddUserModal .modal-title{
    color: #083255;
    border-left: 5px solid #1153c1;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    padding-left: 20px;
}

#myAddUserModal .modal-header{
    padding-left: 0px;
    border: 0px;
}

.number,.email , .password{
    width: 100%;
}

.password{
    color: #083255 !important;
}

.update-btn{
    background: #1153c1;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
    width: 100%;
    border: none;
    border-radius: 4px;
}

.update-btn:focus{
    outline: none;
}

.footer-div .dashboard-logo-heading{
    background: #eff8ff;
    color: #083255;
    font-size: 18px;
    font-style: italic;
    margin: 0px;
    padding: 10px 0px;
}

.footer-div-list{
    background: #eff8ff;
    color: #083255;
    list-style-type: none;
    padding: 10px;
    margin: 0px;
    justify-content: flex-end;
}

.footer-div-list li{
    padding: 0px 10px;
    border-right: 1px solid #083255;
    font-weight: bold;
    font-size: 12px;
}

.footer-div-list li:last-child{
    border-right: none;
}

/* customize checkbox */

.label-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #cbd4dc;
  }
  
  /* Hide the browser's default checkbox */
  .label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .label-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 2px solid #e6eaee;
    border-radius: 4px;
  }
  
  /* When the checkbox is checked, add a blue background */
  .label-container input:checked ~ .checkmark {
    background-color: #1153c1;
    border: 2px solid #1153c1;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .label-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .desktop-view-value .label-container .checkmark{
      top: -4px;
  }
  
  /* Show the checkmark when checked */
  .label-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .label-container .checkmark:after {
    left: 3px;
    top: 0px;
    width: 8px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


