@font-face { font-family: Lato; src: url('../fonts/Lato-Regular.ttf'); }
@font-face { font-family: Lato-bold; src: url('../fonts/Lato-Bold.ttf'); }
@font-face { font-family: Lato-black; src: url('../fonts/Lato-Black.ttf'); }
@font-face { font-family: Lato-black-italic; src: url('../fonts/Lato-BlackItalic.ttf'); }
@font-face { font-family: Lato-bold-italic; src: url('../fonts/Lato-BoldItalic.ttf'); }
@font-face { font-family: Lato-light; src: url('../fonts/Lato-Light.ttf'); }
@font-face { font-family: Lato-light-italic; src: url('../fonts/Lato-LightItalic.ttf'); }
@font-face { font-family: Lato-italic; src: url('../fonts/Lato-RegularItalic.ttf'); }